h1 New Order

= simple_form_for @order do |f|
	= f.association :client
	= f.input :lat, as: :hidden
	= f.input :lon, as: :hidden
	h3 Products
	#products
		.form-inline
			= f.simple_fields_for :order_products do |order_product|
				= render "order_product_fields", f: order_product
			.links
				= link_to_add_association "add", f, :order_products, class: "btn btn-primary btn-xs"
	= text_field_tag :grandtotal1, "", placeholder: "Grand total", class: "form-control", disabled: true
	= f.input :grandtotal, as: :hidden
	br/
	br/	
	= f.button :submit, class: "btn btn-success btn-sm"

javascript:
	$(document).on('ready page:load change', function(){
		$('.order_order_products_price_per_unit input').on('keyup', function(e){
			var $row = $(this).parents('.nested-fields'),
					$price = $(this),
					$quantity = $row.find('.order_order_products_quantity input')
					$total_price = $row.find('.order_order_products_total_price input'),
					$grand_total = 0;

			$total_price.val(
				$quantity.val() * $price.val()
			);
			$row.find('#total_price1').val($quantity.val() * $price.val());

			$('.order_order_products_total_price input').each(function(){
				$grand_total += Number($(this).val());
				$('.order_grandtotal input').val($grand_total);
				$('#grandtotal1').val($grand_total);
			});
			
		});
	});


	$(document).on('page:load change', function(){
		function getLocation() {
			if (navigator.geoLocation) {
				navigator.geoLocation.getCurrentPosition(getPosition);
			} else {
				// Geolocation is not supported by this browser
			}
		}

		function getPosition(position) {
			user_lat = position.coords.latitude;
			user_long = position.coords.longitude;
			$('.order_lat input').val(user_lat);
			$('.order_lon input').val(user_long);
		}

		getLocation();
	});




br

= link_to "Back", orders_path, class: "btn btn-default btn-sm"