h1 Editing raw material invoice item

== render 'form'
br/
= link_to 'Show', @raw_material_invoice_item, class: "btn btn-info btn-sm"
'|
= link_to 'Back', raw_material_invoice_items_path, class: "btn btn-default btn-sm"

