h1 All Vendors
br
= link_to 'New Vendor', new_vendor_path, class: "btn btn-primary btn-sm"
br
br

table.table.table-hover
  thead
    tr
      th Name
      th Company
      th Phone
      th Mobile
      th

  tbody
    - @vendors.each do |vendor|
      tr
        td = vendor.name
        td = vendor.company
        td = vendor.phone
        td = vendor.mobile
        td
          .btn-group
            = link_to 'Show', vendor, class: "btn btn-default btn-xs"
            = link_to 'Edit', edit_vendor_path(vendor), class: "btn btn-info btn-xs"
            = link_to 'Destroy', vendor, data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-danger btn-xs"        