p#notice = notice

h3
  strong Showing Vendor # 
  = @vendor.id

br/

p
  strong Name:
  = @vendor.name
p
  strong Company:
  = @vendor.company
p
  strong Phone:
  = @vendor.phone
p
  strong Mobile:
  = @vendor.mobile
p
  strong Address:
  = @vendor.address
p
  strong Email:
  = @vendor.email
p
  strong City:
  = @vendor.city
p
  strong State:
  = @vendor.state

= link_to 'Edit', edit_vendor_path(@vendor), class: "btn btn-info btn-sm"
'|
= link_to 'Back', vendors_path, class: "btn btn-default btn-sm"
