p#notice = notice

p
  strong Name:
  = @vendor.name
p
  strong Company:
  = @vendor.company
p
  strong Phone:
  = @vendor.phone
p
  strong Mobile:
  = @vendor.mobile
p
  strong Address:
  = @vendor.address
p
  strong Email:
  = @vendor.email
p
  strong City:
  = @vendor.city
p
  strong State:
  = @vendor.state

= link_to 'Edit', edit_vendor_path(@vendor)
'|
= link_to 'Back', vendors_path
