// Place all the styles related to the attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mark_attendance .attendance{
	min-height: 150px;
	width: 135px;
	display: inline-block;
	vertical-align: top;
	padding: 16px 0px;
	border-bottom: 1px solid #ccc;
}