// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-left {
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 51px;
	background-color: #cdc;
	min-height: 100%;
}

.container {
	max-width: 1000px;
}