// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

users.index{

	.user {
	font-size: 12px;
/*	color: #777;*/
	display: inline-block;
	background-color: #ededed;
	padding: 20px;
	width: 190px;
	vertical-align: top;
	margin-bottom: 5px;
	min-height: 250px;
	border-bottom: 2px solid #222;
	transition: all .3s ease-in-out;
	overflow: hidden;
	.image { 
		margin: 0 auto;
	  width: 100px;
	  img{
	  	width: 100px;
	  	border: 2px solid #333;
	  }
		}
	.name {
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		color: #444;
		margin-top: 10px;
		}
	}
	.user:hover {
		border-bottom: 2px solid #F6B352;
		box-shadow: 0 0 10px #888;
		transform: scale(1.1);
		background-color: #D9D4CF;
		color: #333030;
		.name{
			color: #ccc;
		}
	}
}