h1 Editing equipment category

== render 'form'
br
= link_to 'Show', @equipment_category, class: "btn btn-info btn-sm"
'|
= link_to 'Back', equipment_categories_path, class: "btn btn-default btn-sm"

